.footerContainer{
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 7%;
  padding: 1px 2px;
  z-index: 10;
  align-items: center;
  justify-content: right;
  bottom: 0;
  gap: 10px;
}
.text{
  font-size: 10px;
}
.imgContainer{
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.imgContainer img{
  width: 100%;
  height: 100%;
  border-radius: 30%;
}

